body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.developer{
    font-size: 40px;
}
.name-coloring{
    color: magenta;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.width{
    width: 50%;
    padding: 2%;
}
.width image{
    padding: 10%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(purple, pink);
    color: black;
    font-weight: 700;
}
#background-image{
    background-image:url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.Resume-link{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image:linear-gradient(orange,yellow);
    color: black;
    font-weight: 700;
}
#dream-big{
    background-image:url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experiences{
    margin-top: -36px;
}
.third{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 18px;
    padding-right: 15px;
    box-shadow: 10px 5px 40px gray;
    border-radius: 10px; 
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border1{
    border-left: 9px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
 #border2{
    border-left: 9px solid;
    border-image: linear-gradient(purple,salmon);
    border-image-slice: 1;
 }   
}
}
.changing-color{
    color: rgb(0, 17, 255);
}
footer p{
    text-align: center;
}
p{
    text-align: justify;
}
